POSTGRES_DB=vithey
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

EUREKA_URL=http://eureka-server:8761/eureka/
CONFIG_REPO_LOCATION=file:/app/config-repo
