SERVER_PORT=8083
SPRING_PROFILES_ACTIVE=docker
CONFIG_SERVER_URL=http://config-server:8888
EUREKA_CLIENT_ENABLED=true
EUREKA_URL=http://eureka-server:8761/eureka/

FILE_DB_URL=jdbc:postgresql://postgres:5432/file_db
FILE_DB_USERNAME=postgres
FILE_DB_PASSWORD=postgres

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKETS=avatars,cvs,posters,videos

VITHEY_JWT_SECRET=change-me-to-a-strong-256-bit-secret-for-local-dev
